footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 400px;
  padding: 80px 40px;
  margin: 0 auto;
  background-color: rgb(204, 204, 204);
}

footer address {
  font-size: 2rem;
}

footer address a {
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
}
